/* https://github.com/mgmeyers/obsidian-style-settings */
/* @settings

name: Braph Banner
id: braph-banner
settings:
  - id: banner-height
    title: Banner Height
    description: The height of the banner.
    type: variable-number
    default: 200
    format: px

*/

.graph-banner-content {
  width: auto;
  height: var(--banner-height) !important;
  margin-bottom: 16px;
}

/* FIXME: this style hide the toggle button for right sidebar */
.workspace-tabs:has(.workspace-leaf-content.for-graph-banner) {
  display: none;
}
