/* https://github.com/mgmeyers/obsidian-style-settings */
/* @settings

name: Graph Banner
id: graph-banner
settings:
  - id: banner-height
    title: Banner Height
    description: The height of the banner. (e.g. 20vh, 200px)
    type: variable-text
    default: 20vh

*/

:root {
	--banner-margin-bottom: 16px;
}

.graph-banner-content {
	width: auto;
	height: var(--banner-height, 20vh) !important;
	margin-block-end: var(--banner-margin-bottom);
}

.hidden {
	display: none;
}

/* Prevents layout shift */
.inline-title:not(.markdown-embed-content .inline-title):not(
	:has(+ .graph-banner-content)
) {
	margin-block-end: calc(
		var(--banner-height, 20vh) + var(--banner-margin-bottom)
			+ var(--inline-title-margin-bottom)
	);
}
